<div class="col-md-3">
    <div class="place-for-ads">
        <figure>
            <img src="{{MEDIA_URL}}{{adds_media.side_add_1.image.url}}" alt="{{adds_media.side_add_1.name}}"">
        </figure>
        <hr>
            <figure>
            <img src="{{MEDIA_URL}}{{adds_media.side_add_2.image.url}}" alt="{{adds_media.side_add_2.name}}"">
        </figure>
        <hr>
            <figure>
            <img src="{{MEDIA_URL}}{{adds_media.side_add_3.image.url}}" alt="{{adds_media.side_add_3.name}}"">
        </figure>
        <hr>
            <figure>
            <img src="{{MEDIA_URL}}{{adds_media.side_add_4.image.url}}" alt="{{adds_media.side_add_4.name}}"">
        </figure>
    </div>
</div>