{% extends 'base/base.html' %}

{% block 'title' %}Category | News Portal{% endblock %}

{% block 'body' %}
    <!--list page-->
<div class="fl-list-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="list-page-container">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="">{{cat}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>
                    {% for n in news %}

                    <div class="news-content">
                        <header>
                            <a href="{% url 'news' n.slug %}"><h1>{{ n.title }}</h1></a>
                        </header>
                        <figure>
                        {% if n.image %}
                            <img src="{{MEDIA_URL}}{{n.image.url}}" alt="image">
                        {% else %}
                            NO image
                        {% endif %}
                        </figure>
                        <time><i class="fa fa-clock-o"></i>{{n.publish_date}}
                                    </time>

                        <p>{{n.description | truncatewords:20}}</p>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>
            {% include 'component/adds.html' %}
                {% if news.has_other_pages %}
                <ul class="pagination">
                    {% if news.has_previous %}
                    <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in news.paginator.page_range %}
                    {% if news.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if news.has_next %}
                    <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}


        </div>
    </div>
</div>

{% endblock %}