{% extends 'base/base.html' %}

{% block 'title' %}Home | News Portal{% endblock %}

{% block 'body' %}
{% load static %}

<!--breaking-news-->
<section class="fl-breaking-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="breaking-news">
                    <h1><span>समाचार</span></h1>
                    <label class="line"></label>
                    <div class="owl-carousel owl-theme breaking1">
                    {% for slider in sliders%}
                        <div class="item">
                            <h2><a href="#">{{slider.title}}</a></h2>
                            {% if slider.image %}
                                <a href="#"><img src="{{MEDIA_URL}}{{slider.image.url}}" alt=""></a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--breaking news portion ends-->

<!-- main news portion starts -->
<!--MAIN NEWS-->
<div class="fl-main-news-wrapper">
    <div class="container">
        <div class="row same-height">
            <div class="col-md-9">
                <div class="main-news-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a>मुख्य समाचार</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <section class="main-news-entry">
                        <article class="main-news-big-content">
                            <a href="#">
                                <h1>{{main_news1}}&nbsp;</h1>
                                <figure>
                                    {% comment %} <img src="{{MEDIA_URL}}{{main_news[0].image}}" alt="image"> {% endcomment %}
                                </figure>
                            </a>
                            <p>२१ साउन, काठमाडौं । अहिले बैंक तथा वित्तीय संस्थाहरुले धमाधम वित्तीय विवरणहरु प्रकाशित गरिरहेका छन् । वित्तीय विवरणमा दिइएका तथ्यांकहरुले मोटामोटी रुपमा संस्थाको अवस्था कस्तो
                                        छ, स्पष्ट देखाउँछ । बैंकहरुले कति नाफा र कति ब्याज कमाए, कति सञ्चालन खर्च..</p>
                        </article>
                        <div class="row">
                        {% for m_news in main_news %}
                            <article class="col-md-6">
                                <div class="main-news-small-content">
                                    <a href="#">
                                        <h2>{{m_news.title}}</h2>
                                        <div class="main-news-small-detail">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-4">
                                                    <figure>
                                                        <img src="{{MEDIA_URL}}{{m_news.image}}" alt="image">
                                                    </figure>
                                                </div>
                                                <div class="col-md-7 col-sm-8">
                                                    <p>{{m_news.description | truncatewords:20}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                        </div>
                    </section>
                </div>
            </div>

           <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="{% static 'image/adv3.jpg' %}">
                    </figure>
                     <figure>
                        <img src="{% static 'image/adv4.jpg' %}">
                    </figure>
                     <figure>
                        <img src="{% static 'image/adv5.jpg' %}">
                    </figure>
                     <figure>
                        <img src="{% static 'image/adv3.jpg' %}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!--main news portion starts-->
<section class="fl-advertisement3-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-ads3-banner">
                    <figure>
                        <img src="image/adv2.png" alt="ad image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--international News-->
<div class="fl-international-country-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="international-news-wrapper">
                     <header class="news-header">
                        <h2>
                            <span>
                                <a href="second.html">अन्तराष्ट्रिय समाचार</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="international-new-content">
                        <div class="row">
                        {% for news1 in cat1_news %}
                            <div class="col-md-4">
                                <article class="international-news-big-content">
                                    <a href="{% url 'news' news1.slug %}">
                                        <h1>{{news1.title}}</h1>
                                        <figure>
                                            <img src="{{MEDIA_URL}}{{news1.image}}" alt="{{news1.title}}">
                                        </figure>
                                    </a>
                                     <p>{{m_news.description | truncatewords:20}}</p>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-country-news">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a>राजनीति</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="sidebar-country-news-section">
                        <!-- <div role="tabpanel" class="tab-pane active" id="latest"> -->
                        <div class="sidebar-country-news-content">
                            <ul>
                                <li>
                                    <figure>
                                        <img src="image/c1.jpeg">
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="#">
                                            <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <figure>
                                        <img src="image/c1.jpeg">
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="#">
                                            <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <figure>
                                        <img src="image/c1.jpeg">
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="#">
                                            <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                        </a>
                                    </div>
                                </li>
                                 <li>
                                    <figure>
                                        <img src="image/c1.jpeg">
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="#">
                                            <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <figure>
                                        <img src="image/c1.jpeg">
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="#">
                                            <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- economic news -->
<div class="fl-mixed-economic-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="mixed-economic-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="second_page.html">आर्थिक</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="mixed-economic-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mixed-economic-big">
                                    <figure>
                                        <img src="image/e1.jpg" alt="image">
                                    </figure>
                                    <div class="economic-content">
                                        <a href="#"><h1>नेपालकै ठूलो सिमेण्ट उद्योगसँग सरकारले गरेको सहमति पालना भएन</h1></a>
                                        <p>साउन २२,काठमाडौं । ब्राजिलका स्टार फरवार्ड नेइमारलाई केहि दिन अघी मात्र अनुबन्ध गरेको nफ्रेन्च क्लब पेरिस सेन्ट जर्मेन साउन २२,काठमाडौं । ब्राजिलका स्टार फरवार्ड नेइमारलाई केहि दिन अघी मात्र अनुबन्ध गरेको फ्रेन्च क्लब पेरिस सेन्ट जर्मेन </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        <img src="image/e1.jpg" alt="image">
                                    </figure>
                                    <a href="#">
                                        <h4>दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा  २’कोफस्ट लुक दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा २’को फस्ट लुक – नायिका सबै  दुलहीको– नायिका सबै दुलहीको भेषमा</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        <img src="image/e1.jpg" alt="image">
                                    </figure>
                                    <a href="#">
                                        <h4>दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा  २’कोफस्ट लुक दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा २’को फस्ट लुक – नायिका सबै  दुलहीको– नायिका सबै दुलहीको भेषमा</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        <img src="image/e1.jpg" alt="image">
                                    </figure>
                                    <a href="#">
                                        <h4>दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा  २’कोफस्ट लुक दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा २’को फस्ट लुक – नायिका सबै  दुलहीको– नायिका सबै दुलहीको भेषमा</h4>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        <img src="image/news_03.jpg" alt="image">
                                    </figure>
                                    <a href="#">
                                        <h4>दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा  २’कोफस्ट लुक दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा २’को फस्ट लुक – नायिका सबै  दुलहीको– नायिका सबै दुलहीको भेषमा</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        <img src="image/e1.jpg" alt="image">
                                    </figure>
                                    <a href="#">
                                        <h4>दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा  २’कोफस्ट लुक दीपाश्रीले सार्वजनिक गरीन ‘छक्कापञ्जा २’को फस्ट लुक – नायिका सबै  दुलहीको– नायिका सबै दुलहीको भेषमा</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-country-news">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="second.html">लोकप्रिय</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="sidebar-country-news-section">
                        <div role="tabpanel" class="tab-pane active" id="latest">
                            <div class="sidebar-country-news-content">
                                <ul>
                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="country-news-content">
                                            <a href="#">
                                                <h4> जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम जापनिज इन्सेफ्लाइटिसका यस्ता छन् लक्षण र रोकथाम</h4>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- advertisement3 -->
<section class="fl-advertisement3-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-ads3-banner">
                    <figure>
                        <img src="image/adv2.png" alt="ad image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--health news-->
<div class="fl-health-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="health-news-content">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="second.html">स्वास्थ्य</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="health-news-slider">
                        <div class="owl-carousel owl-theme type1">
                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="image/h1.jpg" alt="image">
                                    </figure>

                                    <a href="#">
                                        <h1>छालाको रोगमा खानाको महत्व</h1>
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="image/h2.jpg" alt="image">
                                    </figure>

                                    <a href="#">
                                        <h1>यस्ता छन् आँखा स्वास्थ्य सम्वन्धी थाह पाउँनै पर्ने २५ तथ्य र ११ सन्देश</h1>
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="image/h1.jpg" alt="image">
                                    </figure>

                                    <a href="#">
                                        <h1>यी हुन् गर्मीमा उपयोगी ६ तरकार</h1>
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="image/h2.jpg" alt="image">
                                    </figure>

                                    <a href="#">
                                        <h1>यस्ता छन् आँखा स्वास्थ्य सम्वन्धी थाह पाउँनै पर्ने २५ तथ्य र ११ सन्देश</h1>
                                    </a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="image/h3.jpg" alt="image">
                                    </figure>

                                    <a href="#">
                                        <h1>अनुहार चम्किलो बनाउने १० घरेलु तरिका कर्णालीमा अस्पताल नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पता नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी </h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}