{% extends 'base/base.html' %}

{% block 'title' %}Home | News Portal{% endblock %}

{% block 'body' %}
{% load static %}

<!--breaking-news-->
<section class="fl-breaking-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="breaking-news">
                    <h1><span>समाचार</span></h1>
                    <label class="line"></label>
                    <div class="owl-carousel owl-theme breaking1">
                    {% for slider in sliders%}
                        <div class="item">
                            <h2><a href="#">{{slider.title}}</a></h2>
                            {% if slider.image %}
                                <a href="#"><img src="{{MEDIA_URL}}{{slider.image.url}}" alt=""></a>
                            {% else %}
                                    NO image
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!--breaking news portion ends-->

<!-- main news portion starts -->
<!--MAIN NEWS-->
<div class="fl-main-news-wrapper">
    <div class="container">
        <div class="row same-height">
            <div class="col-md-9">
                <div class="main-news-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a>मुख्य समाचार</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <section class="main-news-entry">
                        <article class="main-news-big-content">
                            <a href="#">
                                <h1>{{main_news1}}&nbsp;</h1>
                                <figure>
                                    {% if main_news1.image %}
                                        <img src="{{MEDIA_URL}}{{main_news1.image.url}}" alt="image">
                                    {% else %}
                                        NO image
                                    {% endif %}
                                </figure>
                            </a>
                            <p>२१ साउन, काठमाडौं । अहिले बैंक तथा वित्तीय संस्थाहरुले धमाधम वित्तीय विवरणहरु प्रकाशित गरिरहेका छन् । वित्तीय विवरणमा दिइएका तथ्यांकहरुले मोटामोटी रुपमा संस्थाको अवस्था कस्तो
                                        छ, स्पष्ट देखाउँछ । बैंकहरुले कति नाफा र कति ब्याज कमाए, कति सञ्चालन खर्च..</p>
                        </article>
                        <div class="row">
                        {% for m_news in main_news %}
                            <article class="col-md-6">
                                <div class="main-news-small-content">
                                    <a href="#">
                                        <h2>{{m_news.title}}</h2>
                                        <div class="main-news-small-detail">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-4">
                                                    <figure>
                                                        {% if m_news.image %}
                                                            <img src="{{MEDIA_URL}}{{m_news.image.url}}" alt="image">
                                                        {% else %}
                                                            NO image
                                                        {% endif %}
                                                    </figure>
                                                </div>
                                                <div class="col-md-7 col-sm-8">
                                                    <p>{{m_news.description | truncatewords:20}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
            {% include 'component/adds.html' %}
        </div>
    </div>
</div>
<!--main news portion starts-->
<section class="fl-advertisement3-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-ads3-banner">
                    <figure>
                        <img src="{{MEDIA_URL}}{{adds_media.home_add_1.image.url}}" alt="{{adds_media.home_add_1.name}}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--international News-->
<div class="fl-international-country-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="international-news-wrapper">
                     <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' category.slug1 %}">{{category.title1}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="international-new-content">
                        <div class="row">
                        {% for news1 in cat1_news %}
                            <div class="col-md-4">
                                <article class="international-news-big-content">
                                    <a href="{% url 'news' news1.slug %}">
                                        <h1>{{news1.title}}</h1>
                                        <figure>
                                            {% if news1.image %}
                                                <img src="{{MEDIA_URL}}{{news1.image.url}}" alt="image">
                                            {% else %}
                                                NO image
                                            {% endif %}
                                        </figure>
                                    </a>
                                     <p>{{m_news.description | truncatewords:20}}</p>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-country-news">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' category.slug2 %}">{{category.title2}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="sidebar-country-news-section">
                        <!-- <div role="tabpanel" class="tab-pane active" id="latest"> -->
                        <div class="sidebar-country-news-content">
                            <ul>
                                {% for news2 in cat2_news %}
                                <li>
                                    <figure>
                                        {% if news2.image %}
                                            <img src="{{MEDIA_URL}}{{news2.image.url}}" alt="image">
                                        {% else %}
                                            NO image
                                        {% endif %}
                                    </figure>
                                    <div class="country-news-content">
                                        <a href="{% url 'news' news2.slug %}">
                                            <h4> {{news2.title}}</h4>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}


                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- economic news -->
<div class="fl-mixed-economic-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="mixed-economic-wrapper">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' category.slug3 %}">{{category.title3}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="mixed-economic-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mixed-economic-big">
                                    <figure>
                                        {% if cat3_first_news.image %}
                                            <img src="{{MEDIA_URL}}{{cat3_first_news.image.url}}" alt="image">
                                        {% else %}
                                            NO image
                                        {% endif %}
                                    </figure>
                                    <div class="economic-content">
                                        <a href="{% url 'news' cat3_first_news.slug %}"><h1>{{cat3_first_news.title}}</h1></a>
                                        <p>{{cat3_first_news.description| truncatewords:20 }}</p>
                                    </div>
                                </div>
                            </div>
                                {% for news3 in cat3_side_news %}

                            <div class="col-md-6">
                                <div class="mixed-economic-small">
                                    <figure>
                                        {% if news3.image %}
                                        <img src="{{MEDIA_URL}}{{news3.image.url}}" alt="image">
                                        {% else %}
                                        NO image
                                        {% endif %}
                                    </figure>
                                    <a href="{% url 'news' news3.slug %}">
                                        <h4>{{news3.title}}</h4>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-country-news">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' category.slug4 %}">{{category.title4}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="sidebar-country-news-section">
                        <div role="tabpanel" class="tab-pane active" id="latest">
                            <div class="sidebar-country-news-content">
                                <ul>
                                {% for news4 in cat4_side_news %}
                                    <li>
                                        <div class="country-news-content">
                                            <a href="{% url 'news' news4.slug %}">
                                                <h4>{% url 'news' news4.slug %}</h4>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- advertisement3 -->
<section class="fl-advertisement3-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo-ads3-banner">
                    <figure>
                        <img src="{{MEDIA_URL}}{{adds_media.home_add_2.image.url}}" alt="{{adds_media.home_add_2.name}}">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!--health news-->
<div class="fl-health-news-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="health-news-content">
                    <header class="news-header">
                        <h2>
                            <span>
                                <a href="{% url 'category' category.slug5 %}">{{category.title5}}</a>
                            </span>
                        </h2>
                        <div class="clearfix"></div>
                    </header>

                    <div class="health-news-slider">
                        <div class="owl-carousel owl-theme type1">
                        {% for news5 in cat5_side_news %}
                            <div class="item">
                                <div class="health-news-detail">
                                    <figure>
                                        <img src="{{MEDIA_URL}}{{news5.image.url}}" alt="image">
                                    </figure>

                                    <a href="{% url 'news' news5.slug %}">
                                        <h1>{{news5.title}}</h1>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}