{% extends 'base/base.html' %}

{% block 'title' %}Signup{% endblock %}

{% block 'body' %}
<div class="fl-detail-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-page-container">
                            <header class="news-header">
                                <h2>
                                    <span>
                                        <a href="#">राजनीत</a>
                                    </span>
                                </h2>
                                <div class="clearfix"></div>
                            </header>

                            <div class="news-detail-content">
                                <header>
                                    <h1>देउवा र पौडेलको बेमेल कायमै, तीन सातापछि भेट हुँदा देखिएन हार्दिकत</h1>
                                </header>

                                <time>कात्तिक १८, २०७५<span></span></time>

                                <div class="share-option">
                                    <ul>
                                        <li>100 shares</li>

                                        <li><a href="#"><i class="fa fa-facebook-f"></i>share</a></li>

                                        <li><a href="#"><i class="fa fa-twitter"></i>tweet</a></li>
                                    </ul>
                                </div>

                                <figure>
                                    <img src="image/p1.jpg" alt="image">
                                </figure>

                                <p>२२ साउन, काठमाडौं । अमेरिकन कम्पनी यूएमका दुईवटा नयाँ बाइक नेपालमा सार्वजनिक
                                    गरिएको छ । आईएमई ग्रुप अन्तर्गतको आईएमई अटोमोटिभ्स प्रालिले यूएमको रेनिगेड ३००
                                    सिरिजका दुई नयाँ बाइक नेपाल ल्याएको हो । अमेरिकन कम्पनी यूएमका दुईवटा नयाँ बाइक नेपालमा
                                    सार्वजनिक
                                    गरिएको छ । आईएमई ग्रुप अन्तर्गतको आईएमई अटोमोटिभ्स प्रालिले यूएमको रेनिगेड ३००
                                    सिरिजका दुई नयाँ बाइक नेपाल ल्याएको हो ।</p>

                                <p>
                                    परिषद्बाट गएको टोलीले सात जनाको रगतको नमूना परीक्षण गर्दा दुई जनामा लेप्टोस्पाइरोसिस् पुष्टि
                                    भएको हो। परिषद्ले
                                    इपिडिमियोलोजी तथा रोग नियन्त्रण महाशाखा, जिल्ला जनस्वास्थ्य कार्यालय मोरङ, कोशी क्षेत्रीय
                                    अस्पताल, नोबेल मेडिकल कलेज,
                                    विश्व स्वास्थ्य संगठन विराटनगर कार्यालय, सम्बन्धित वडा कार्यालयको सहयोगमा स्वास्थ्य परीक्षण,
                                    रगतको नमूना संकलन र स्थलगत
                                    अध्ययन गरेको थियो।
                                </p>

                                <p>
                                    लेप्टोस्पाइरोसिस मुख्य गरी जनावरमा हुने संक्रमण हो, जुन उपयुक्त वातावरणीय अवस्थामा जनावरबाट
                                    मानिसमा सर्छ। यो संक्रमण विभिन्न
                                    सेरोटाइप्सका लेप्टोस्पाइरा ब्याक्टेरियाहरुले गराउँछन्। यो रोगले मध्यम प्रकारको ज्वरो
                                    आउनेदेखि, कलेजो र मिर्गौलासम्मलाई घातक असर गर्छ।
                                    यो रोगबारे सर्वप्रथम सन् १९८६ मा एडल्फ वेल्सले वर्णन गरेकाले यसलाई वेल्स रोग पनि भनिन्छ। यो
                                    जनावरबाट मानिसमा सजिलै सर्ने रोग
                                    हो। उच्च तापक्रम भएका देश तथा डुवानका क्षेत्रहरुमा यो रोग प्रकोपका रुपमा देखा पर्छ।
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <header class="news-header">
                            <h2>सम्बन्धित शीर्षकहरु</h2>
                            <div class="clearfix"></div>
                        </header>
                    </div>

                    <div class="col-md-3">
                        <div class="page-related-news-detail">
                            <figure>
                                <img src="image/n1.jpg" alt="image">
                            </figure>

                            <a href="#">
                                <h1>कर्णालीमा अस्पताल नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा
                                    अस्पता नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पताल
                                    नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पता नपुग्दै जान्छ
                                    बिरामीको ज्यान, तीन महिनाका यी </h1>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="page-related-news-detail">
                            <figure>
                                <img src="image/12.jpg" alt="image">
                            </figure>

                            <a href="#">
                                <h1>दलित समुदायबाट डाक्टर बनेका काशीरामः विपन्न समुदायको सेवागर्ने कर्णालीमा
                                    अस्पताल नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पता
                                    नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी </h1>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="page-related-news-detail">
                            <figure>
                                <img src="image/i1.jpg" alt="image">
                            </figure>

                            <a href="#">
                                <h1>दुर्गममा जानै चाहँदैनन् छात्रवृत्तिका डाक्टर, काठमाडौँ वरिपरि भने कर्णालीमा
                                    अस्पताल नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पता
                                    नपुग्दै जान्छ बिरामीको ज्यान, तीन महिनाका यी </h1>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="page-related-news-detail">
                            <figure>
                                <img src="image/i2.jpg" alt="image">
                            </figure>

                            <a href="#">
                                <h1>डा. गोविन्द केसीका समर्थकको आवेग: 'सरकारी भुटुनमा कर्णालीमा अस्पताल नपुग्दै
                                    जान्छ बिरामीको ज्यान, तीन महिनाका यी कर्णालीमा अस्पता नपुग्दै जान्छ बिरामीको
                                    ज्यान, तीन महिनाका यी </h1>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <h3>यसमा तपाइको मत</h3>
                            <form>
                                <label>नाम (अनिवार्य)</label>
                                <input type="text" name="name" placeholder="Your name">


                                <label>इमेल (अनिवार्य)</label>
                                <input type="email" name="email" placeholder="Your email">


                                <label>प्रतिक्रिया दिनुहोस् </label>
                                <textarea name="name" placeholder="message"></textarea>
                                <input type="submit" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="image/adv3.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv4.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv5.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv3.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}