{% extends 'base/base.html' %}

{% block 'title' %}{{news.title}}{% endblock %}

{% block 'body' %}
<div class="fl-detail-page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="detail-page-container">
                            <header class="news-header">
                                <h2>
                                    <span>
                                        <a href="{% url 'category' news.category.slug %}">{{news.category}}</a>
                                    </span>
                                </h2>
                                <div class="clearfix"></div>
                            </header>

                            <div class="news-detail-content">
                                <header>
                                    <h1>{{news.title}}</h1>
                                </header>

                                <time><i class="fa fa-clock-o"></i>{{news.publish_date}}<span></span></time>

                                {% comment %} <div class="share-option">
                                    <ul>
                                        <li>100 shares</li>

                                        <li><a href="#"><i class="fa fa-facebook-f"></i>share</a></li>

                                        <li><a href="#"><i class="fa fa-twitter"></i>tweet</a></li>
                                    </ul>
                                </div> {% endcomment %}

                                <figure>
                                    {% if news.image %}
                                        <img src="{{MEDIA_URL}}{{news.image.url}}" alt="image">
                                    {% else %}
                                        NO image
                                    {% endif %}
                                </figure>

                                <p>{{news.description}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-12">
                        <header class="news-header">
                            <h2>सम्बन्धित ट्यागहरू</h2>
                            <div class="clearfix"></div>
                        </header>
                    </div>
                    {% for tag in tags %}

                    <div class="col-md-2">
                        <div class="page-related-news-detail">
                            <h2>
                                <a  href="{% url 'tag' tag.slug %}">{{tag.title}}</a> ,
                            </h2>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <h3>यसमा तपाइको मत</h3>
                            <div class="fb-comments" data-href="https://dipesh.com{{ request.get_full_path }}" data-width="100%" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="place-for-ads">
                    <figure>
                        <img src="image/adv3.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv4.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv5.jpg">
                    </figure>
                     <figure>
                        <img src="image/adv3.jpg">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}